@import "tailwindcss";
@plugin "daisyui";

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: "DM Sans", system-ui, sans-serif;
    scroll-behavior: smooth;
  }
}




@tailwind base;
@tailwind components;
@tailwind utilities;

:root{

  --brand-primary: #10223F;
  --brand-secondary: #20304C;
  --brand-accent: #5D8BB5;
  --bg: #111111;
  --text: #fff;

}

.light{

  --brand-primary: #10223F;
  --brand-secondary: #20304C;
  --brand-accent: #5D8BB5;
  --bg: #fafafa;
  --text: #111;


}


html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

::selection{

  background-color: #5D8BB5;
  color: black;

}

::-moz-selection{

  background-color: #5D8BB5;
  color: black;

}

@keyframes shimmerStroke {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(2);
  }
  100% {
    filter: brightness(1);
  }
}

.animate-shimmer {
  animation: shimmerStroke 2s ease-in-out infinite;
}

.leaflet-container{

  height: 80vh;
  width: 100%;
  display: flex;
  z-index: 1;
  border-radius: 30px;

}

