@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
@import "@fontsource-variable/inter";
/*---break---*/
@custom-variant dark (&:is(.dark *));
@plugin "daisyui";

@font-face {
  font-family: "DM Sans";
  src: url("./assets/fonts/DMSans-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: "DM Sans", system-ui, sans-serif;
    scroll-behavior: smooth;
    @apply font-sans;
  }
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root{
  /*B R A N D  P R I M A R Y  P A L L E T T E  60 - 110*/

  --brand-primary: #0f1929;

  --brand-primary-110: color-mix(in srgb, var(--brand-primary), black 10%);
  --brand-primary-120: color-mix(in srgb, var(--brand-primary), black 20%);
  --brand-primary-130: color-mix(in srgb, var(--brand-primary), black 30%);

  --brand-primary-90: color-mix(in srgb, var(--brand-primary), white 10%);
  --brand-primary-80: color-mix(in srgb, var(--brand-primary), white 20%);
  --brand-primary-70: color-mix(in srgb, var(--brand-primary), white 30%);
  --brand-primary-60: color-mix(in srgb, var(--brand-primary), white 40%);

  /* B R A N D  S E C O N D A R Y  P A L E T T E  60 - 130 */

  --brand-secondary: #20304C;

  --brand-secondary-110: color-mix(in srgb, var(--brand-secondary), black 10%);
  --brand-secondary-120: color-mix(in srgb, var(--brand-secondary), black 20%);
  --brand-secondary-130: color-mix(in srgb, var(--brand-secondary), black 30%);

  --brand-secondary-90: color-mix(in srgb, var(--brand-secondary), white 10%);
  --brand-secondary-80: color-mix(in srgb, var(--brand-secondary), white 20%);
  --brand-secondary-70: color-mix(in srgb, var(--brand-secondary), white 30%);
  --brand-secondary-60: color-mix(in srgb, var(--brand-secondary), white 40%);

  --brand-accent: #5D8BB5;

  /* B R A N D  A C C E N T  P A L E T T E  60 - 130 */

    --brand-accent: #5D8BB5;

    --brand-accent-110: color-mix(in srgb, var(--brand-accent), black 10%);
    --brand-accent-120: color-mix(in srgb, var(--brand-accent), black 20%);
    --brand-accent-130: color-mix(in srgb, var(--brand-accent), black 30%);

    --brand-accent-90: color-mix(in srgb, var(--brand-accent), white 10%);
    --brand-accent-80: color-mix(in srgb, var(--brand-accent), white 20%);
    --brand-accent-70: color-mix(in srgb, var(--brand-accent), white 30%);
    --brand-accent-60: color-mix(in srgb, var(--brand-accent), white 40%);

  --bg: color-mix(in srgb, var(--brand-primary), black 30%);
  --bg-contacto-seccion: #fafafa; 

  --text-primary: #fff;
  --text-primary-static: #fff;
  --text-inverse: #111111;

  --surface: color-mix(in srgb, var(--brand-primary), black 50%);
  --surface-light: #fff;

  --bg-nav: #111111;
  --bg-footer: #111111;

  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --radius: 0.625rem;
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

}

.light{

  --brand-primary: #10223F;
  --brand-secondary: #20304C;
  --brand-accent: #5D8BB5;
  --bg: #fafafa;
  --bg-120: color-mix(in srgb, var(--bg), black 20%);
  --text-primary: color-mix(in srgb, var(--brand-primary), white 20%);
  --text-primary-static: #fff;
  --surface: color-mix(in srgb, var(--brand-accent), black 20%);
  --bg-nav: #111111;
  --bg-contacto-seccion: #fafafa;

}

@theme {

  /* ========== BASE ========== */
  --color-bg: var(--bg);

  /* ========== BRAND PRIMARY ========== */
  --color-brand-primary: var(--brand-primary);
  --color-brand-primary-60: var(--brand-primary-60);
  --color-brand-primary-70: var(--brand-primary-70);
  --color-brand-primary-80: var(--brand-primary-80);
  --color-brand-primary-90: var(--brand-primary-90);
  --color-brand-primary-110: var(--brand-primary-110);
  --color-brand-primary-120: var(--brand-primary-120);
  --color-brand-primary-130: var(--brand-primary-130);

  --color-bg-contacto-seccion: var(--bg-contacto-seccion);
  --color-bg-120: var(--bg-120);

  /* ========== BRAND SECONDARY ========== */
  --color-brand-secondary: var(--brand-secondary);
  --color-brand-secondary-60: var(--brand-secondary-60);
  --color-brand-secondary-70: var(--brand-secondary-70);
  --color-brand-secondary-80: var(--brand-secondary-80);
  --color-brand-secondary-90: var(--brand-secondary-90);
  --color-brand-secondary-110: var(--brand-secondary-110);
  --color-brand-secondary-120: var(--brand-secondary-120);
  --color-brand-secondary-130: var(--brand-secondary-130);

  /* ========== BRAND ACCENT ========== */
  --color-brand-accent: var(--brand-accent);
  --color-brand-accent-60: var(--brand-accent-60);
  --color-brand-accent-70: var(--brand-accent-70);
  --color-brand-accent-80: var(--brand-accent-80);
  --color-brand-accent-90: var(--brand-accent-90);
  --color-brand-accent-110: var(--brand-accent-110);
  --color-brand-accent-120: var(--brand-accent-120);
  --color-brand-accent-130: var(--brand-accent-130);

  /* ========== SURFACE ========== */
  --color-surface: var(--surface);
  --color-surface-light: var(--surface-light);

  /* ========== TEXT ========== */
  --color-text-primary: var(--text-primary);
  --color-text-inverse: var(--text-inverse);
  --color-text-primary-static: var(--text-primary-static);

  /* ========== NAV ========== */
  --color-bg-nav: var(--bg-nav);
  --color-bg-footer: var(--bg-footer);
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
}

::selection{

  background-color: #5D8BB5;
  color: #233c53;

}

::-moz-selection{

  background-color: #5D8BB5;
  color: #233c53;

}

@keyframes shimmerStroke {
  0% {
    filter: brightness(0);
  }
  50% {
    filter: brightness(2);
  }
  100% {
    filter: brightness(0);
  }
}

.animate-shimmer {
  animation: shimmerStroke 2s ease-in-out infinite;
}

.leaflet-container{
  width: 100%;
  z-index: 1;
  border-radius: 30px;
}

@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;

  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }

  --font-sans: 'Inter Variable', sans-serif;

  --color-sidebar-ring: var(--sidebar-ring);

  --color-sidebar-border: var(--sidebar-border);

  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

  --color-sidebar-accent: var(--sidebar-accent);

  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

  --color-sidebar-primary: var(--sidebar-primary);

  --color-sidebar-foreground: var(--sidebar-foreground);

  --color-sidebar: var(--sidebar);

  --color-chart-5: var(--chart-5);

  --color-chart-4: var(--chart-4);

  --color-chart-3: var(--chart-3);

  --color-chart-2: var(--chart-2);

  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);

  --color-accent: var(--accent);

  --color-muted-foreground: var(--muted-foreground);

  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);

  --color-secondary: var(--secondary);

  --color-primary-foreground: var(--primary-foreground);

  --color-primary: var(--primary);

  --color-popover-foreground: var(--popover-foreground);

  --color-popover: var(--popover);

  --color-card-foreground: var(--card-foreground);

  --color-card: var(--card);

  --color-foreground: var(--foreground);

  --color-background: var(--background);

  --radius-sm: calc(var(--radius) * 0.6);

  --radius-md: calc(var(--radius) * 0.8);

  --radius-lg: var(--radius);

  --radius-xl: calc(var(--radius) * 1.4);

  --radius-2xl: calc(var(--radius) * 1.8);

  --radius-3xl: calc(var(--radius) * 2.2);

  --radius-4xl: calc(var(--radius) * 2.6)
}

    .link-underline {
        border-bottom-width: 0;
        background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
        background-size: 0 1px;
        background-position: 0 100%;
        background-repeat: no-repeat;
        transition: background-size .2s ease-in-out;
    }

    .link-underline-black {
        background-image: linear-gradient(transparent, transparent), linear-gradient(#000, #000)
    }

    .link-underline:hover {
        background-size: 100% 1px;
        background-position: 0 100%
    }

    /*---break---*/

    .dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.809 0.105 251.813);
  --chart-2: oklch(0.623 0.214 259.815);
  --chart-3: oklch(0.546 0.245 262.881);
  --chart-4: oklch(0.488 0.243 264.376);
  --chart-5: oklch(0.424 0.199 265.638);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}